<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.BookTypeMapper">
	<resultMap type="com.ace.entity.BookType" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="name" property="name" jdbcType="VARCHAR" />
		<id column="create_time" property="createTime" jdbcType="VARCHAR" />
		<id column="parent_id" property="parentId" jdbcType="INTEGER" />
		<id column="is_main" property="isMain" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,name,create_time,parent_id,is_main
	</sql>
	<select id="getParentList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tbl_booktype where parent_id is null 
	</select>
	
	<select id="getChildList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tbl_booktype where parent_id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="getAllChildList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tbl_booktype where parent_id is not null 
	</select>
	
</mapper>